*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, .ol{
    list-style: none;
}
a{
    display: block;

}
img{
    max-width: 100%;
    height: auto;
}
body{
    font-family: 'Mulish', sans-serif;
}
.container{
    width: 1140px;
    margin:0 auto;
}
.navbar{
    background-color:#3C64B111;
    padding: 28px;
}
.navbar .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-title{
    color: #3C64B1;
    font-size: 24px;
    font-family:  'Lato', sans-serif;
}
.nav-list, .nav-list-last{
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;

}
.nav-item, .nav-last-item{
    margin-right:  30px;
}
.nav-link, .nav-last-link{
    text-decoration: none;
    color: #373F41;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.2px;
    transition: color 0.3s;
}
.nav-link:hover, .nav-last-link:hover{
    color:#3C64B1;
    font-weight: 600;
    text-decoration: underline;
}
.nav-sign-up{
    padding: 12px 20px;
    background-color: #3C64B1;
    color: white;
    text-decoration: none;
}
.main{
    background-color: #3C64B111;
    padding: 40px 0;
}
.main .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.photo-section{
    position: relative;
    width: 45%;
    
}
.section-play-button{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50px -50px);
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

}
.content-section{
    width: 45%;
}
.content-title{
    font-size: 16px;
    color: #3C64B1;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    padding-bottom: 12px;
}
.content-slog{
    font-size: 42px;
    color: #373F41;
    letter-spacing: 0.2px;
    font-weight: 700;
    width: 80%;
    padding-bottom: 40px;
}
.content-text{
    font-size: 17px;
    color: #737B7D;
    font-weight: 500;
    width: 90%;
    padding-bottom: 65px;
}
.content-link{
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #3C64B1;
    color: #3C64B1;
    font-weight: 700;
}